{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<div class=" mx-auto" style="padding: 21px;
margin-right: 139px;
margin-left: 117px">
<a href="{% url 'staff_new_post' %}" type="button" class="btn btn-info"  style="width:95px;margin:12px">Add Post</a>
<a href="{% url 'staff_new_tag' %}" type="button"class="btn btn-info"  style="width:95px;margin:12px">Add Tags</a>
  <div class="list-group">

    <a href="{% url 'staff_post_list'  %}" class="list-group-item list-group-item-action">All Posts</a>

    {% for tag in tags %}
          <a href="?tag={{tag.id}}" class="list-group-item list-group-item-action">{{tag.name}}</a>
  {% endfor %}
  </div>
  <br>
  <br>
</div>

      {% for posts in post %}
      <div class="card" id="{{posts.id}}" style="padding: 21px;
      margin-right: 139px;
      margin-left: 117px" >
      <h2><a href="{% url 'staff_post_detail' pk=posts.pk %}">{{ posts.title }}</a></h2>
      <span class="badge bg-info text-dark" style="width:95px">{{posts.tags}}</span>
          <p>Posted by {{ posts.admin }} on {{ posts.created_at }}</p>
    
        </div>
        {% endfor %}
  
<br>
<br>
  {% endblock content %}